@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-3xl: 1800px;

  --background: hsl(226, 54%, 9%);
  --secondary-background: hsl(226, 32%, 18%);

  --card-background: hsla(220, 50%, 98%, 0.05);

  --background-button: hsla(0, 0%, 100%, 0.05);
  --background-button-active: hsl(210, 79%, 46%);
  --background-button-cyan: hsl(188, 63%, 48%)

  --muted-color: hsl(195, 2%, 46%);
  --radius: 0.5rem;

  --primary-text-color: hsl(0, 0%, 89%);
  --secondary-text-color: hsl(0, 0%, 79%);
  --ternary-text-color: hsl(220, 50%, 98%);
  --quaternary-text-color: hsl(210, 79%, 46%);

  --primary-button-text-color: hsl(217, 36%, 83%);

  --error-required: hsl(6, 100%, 84%);

  --font-inter: "Inter", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@utility bg-background {
  @apply bg-[var(--background)];
}

@utility bg-secondary-background {
  @apply bg-[var(--secondary-background)];
}

@utility margin-left-layout {
  @apply ml-[80px] xl:ml-[100px] 2xl:ml-[150px];
}

@utility bg-button {
  @apply bg-[var(--background-button)];
}

@utility bg-blue-button {
  @apply bg-[var(--background-button-active)];
}

@utility bg-button-active {
  @apply bg-[var(--background-button-active)] shadow-[0_0_10px_0_#1876D2];
}

@utility bg-cyan-button {
  @apply bg-[#2DB3C8] shadow-[0_0_10px_0_#2DB3C8];
}

@utility primary-border {
  @apply border-[var(--muted-color)] border;
}

@utility text-error {
  @apply text-[var(--error-required)];
}

@utility border-error {
  @apply border-[var(--error-required)];
}

@utility text-primary-color {
  @apply text-[var(--primary-text-color)];
}

@utility text-secondary-color {
  @apply text-[var(--secondary-text-color)];
}

@utility text-ternary-color {
  @apply text-[var(--ternary-text-color)];
}

@utility text-quaternary-color {
  @apply text-[var(--quaternary-text-color)];
}

@utility text-muted-color {
  @apply text-[var(--muted-color)];
}

@utility font-size-4xl {
  @apply text-2xl
    lg:text-3xl
    2xl:text-4xl;
}

@utility font-size-2xl {
  @apply text-lg
    lg:text-xl
    2xl:text-2xl;
}

@utility font-size-xl {
  @apply text-base
    lg:text-lg
    2xl:text-xl;
}

@utility font-size-lg {
  @apply text-sm
    lg:text-base
    2xl:text-lg;
}

@utility font-size-base {
  @apply text-sm
    xl:text-base;
}

@utility font-size-sm {
  @apply text-xs
    2xl:text-sm;
}

@utility card {
  @apply bg-[var(--card-background)] rounded-xl border border-[var(--background-button)] p-6;
}

@utility select-filter {
  @apply font-inter rounded-full bg-background px-2 py-2 font-size-sm text-primary-color outline-none focus:border-blue-500;
}

@utility table-header {
  @apply font-montserrat font-size-sm text-white/70 py-3 px-4 font-normal;
}

@utility cell-table-semibold {
  @apply font-montserrat font-size-sm text-white font-semibold text-xs
    2xl:text-sm;
}

@utility cell-table-normal {
  @apply font-montserrat font-size-sm text-white  font-normal text-xs
    2xl:text-sm;
}

@utility cell-table-pill {
  @apply font-montserrat font-medium text-xs py-1 px-2 text-[var(--bg-background)] rounded-full;
}

@utility label-new-ticket {
  @apply font-space-grotesk text-primary-color font-medium text-base px-6 h-6;
}

@utility input-new-ticket {
  @apply w-full px-6 py-3 rounded-3xl font-inter font-normal text-sm placeholder:text-white/[0.5] bg-white/[0.05] border border-white/[0.1];
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--primary-text-color));
}

.apexcharts-tooltip {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0 1000px #0e1626 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0 1000px #0e1626 inset;
}
